<?xml version="1.0" encoding="UTF-8"?>

	<web-app xmlns="http://java.sun.com/xml/ns/javaee"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_3_0.xsd" version="3.0">

	<display-name>BNWeb</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/xml/spring-context-datasource.xml 
			/WEB-INF/xml/spring-context-facade.xml 
			/WEB-INF/xml/spring-context-dao.xml 
			/WEB-INF/xml/spring-context-mail.xml
			/WEB-INF/xml/spring-context-print.xml
		</param-value>
	</context-param>
	 <listener>
	<listener-class>pe.bn.listener.contextListenerProperties</listener-class>
    </listener>  
	<listener>
        <display-name>CaptchaListener</display-name>
        <listener-class>com.novatronic.captcha.web.CaptchaWebListener</listener-class>
    </listener>    

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/struts-config.xml,/WEB-INF/struts-config-afiliacion.xml,/WEB-INF/struts-config-transferencia.xml,/WEB-INF/struts-config-clavesms.xml,/WEB-INF/struts-config-configTarjetas.xml,/WEB-INF/struts-config-contactotransferencia.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SetupLog4j</servlet-name>
		<servlet-class>pe.bn.servlet.InitLog4j</servlet-class>
		<init-param>
			<param-name>log4j</param-name>
			<param-value>/WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>pe.bn.servlet.ServletController</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>AfiliacionServlet</servlet-name>
		<servlet-class>pe.bn.servlet.ServletAfiliacionInternet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
		<servlet>
		<servlet-name>OlvidoServlet</servlet-name>
		<servlet-class>pe.bn.servlet.ServletOlvidoClaveInternet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
	   	<servlet-name>SpringContextServlet</servlet-name>
	   	<servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>	  
	  	<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnHomeWAP.jsp</display-name>
		<servlet-name>bnHomeWAP.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnHomeWAP.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnConsulta.jsp</display-name>
		<servlet-name>bnConsulta.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnConsulta.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletConsultaSaldo</display-name>
		<servlet-name>ServletConsultaSaldo</servlet-name>
		<servlet-class>pe.bn.wap.servlet.ServletConsultaSaldo</servlet-class>
	</servlet>
	<servlet>
		<description>
		ServletTipoCambio</description>
		<display-name>ServletTipoCambio</display-name>
		<servlet-name>ServletTipoCambio</servlet-name>
		<servlet-class>pe.bn.wap.servlet.ServletTipoCambio</servlet-class>
	</servlet>
	<servlet>
		<description>
		ServletCuentaAhorros</description>
		<display-name>ServletCuentaAhorros</display-name>
		<servlet-name>ServletCuentaAhorros</servlet-name>
		<servlet-class>pe.bn.wap.servlet.ServletCuentaAhorros</servlet-class>
	</servlet>
	<servlet>
		<description>
		ServletCuentaCorriente</description>
		<display-name>ServletCuentaCorriente</display-name>
		<servlet-name>ServletCuentaCorriente</servlet-name>
		<servlet-class>pe.bn.wap.servlet.ServletCuentaCorriente</servlet-class>
	</servlet>
	<servlet>
		<description>
		ServletPrestamoMultired</description>
		<display-name>ServletPrestamoMultired</display-name>
		<servlet-name>ServletPrestamoMultired</servlet-name>
		<servlet-class>pe.bn.wap.servlet.ServletPrestamoMultired</servlet-class>
	</servlet>
	<servlet>
		<description>
		ServletCCIAhorros</description>
		<display-name>ServletCCIAhorros</display-name>
		<servlet-name>ServletCCIAhorros</servlet-name>
		<servlet-class>pe.bn.wap.servlet.ServletCCIAhorros</servlet-class>
	</servlet>
	<servlet>
		<description>
		ServletCCICorriente</description>
		<display-name>ServletCCICorriente</display-name>
		<servlet-name>ServletCCICorriente</servlet-name>
		<servlet-class>pe.bn.wap.servlet.ServletCCICorriente</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnCtaAhorro.jsp</display-name>
		<servlet-name>bnCtaAhorro.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnCtaAhorro.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnCtaCte.jsp</display-name>
		<servlet-name>bnCtaCte.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnCtaCte.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnPresMul.jsp</display-name>
		<servlet-name>bnPresMul.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnPresMul.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnCCIAhorrosMN.jsp</display-name>
		<servlet-name>bnCCIAhorrosMN.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnCCIAhorrosMN.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnCCICtaCteMN.jsp</display-name>
		<servlet-name>bnCCICtaCteMN.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnCCICtaCteMN.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnCuentaCte.jsp</display-name>
		<servlet-name>bnCuentaCte.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnCuentaCte.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnRespuestaMultired.jsp</display-name>
		<servlet-name>bnRespuestaMultired.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnRespuestaMultired.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnRespuestaTipoCambio.jsp</display-name>
		<servlet-name>bnRespuestaTipoCambio.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnRespuestaTipoCambio.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnRespuestaCCIAhorros.jsp</display-name>
		<servlet-name>bnRespuestaCCIAhorros.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnRespuestaCCIAhorros.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnListaCuentas.jsp</display-name>
		<servlet-name>bnListaCuentas.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnListaCuentas.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnRespuestaCuentaCorriente.jsp</display-name>
		<servlet-name>bnRespuestaCuentaCorriente.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnRespuestaCuentaCorriente.jsp</jsp-file>
	</servlet>
	<servlet>
		<description/>
		<display-name>bnLimitePresPer.jsp</display-name>
		<servlet-name>bnLimitePresPer.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnLimitePresPer.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnError.jsp</display-name>
		<servlet-name>bnError.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnError.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>bnRespuestaCCICorriente.jsp</display-name>
		<servlet-name>bnRespuestaCCICorriente.jsp</servlet-name>
		<jsp-file>/WEB-INF/wap/bnRespuestaCCICorriente.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletLimitePrestamo</display-name>
		<servlet-name>ServletLimitePrestamo</servlet-name>
		<servlet-class>pe.bn.wap.servlet.ServletLimitePrestamo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConsultaSaldoServlet</display-name>
		<servlet-name>ConsultaSaldoServlet</servlet-name>
		<servlet-class>pe.bn.servlet.pruebas.ConsultaSaldoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/Inicio</url-pattern>
	</servlet-mapping>

	
	<servlet-mapping>
		<servlet-name>AfiliacionServlet</servlet-name>
		<url-pattern>/Afiliacion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OlvidoServlet</servlet-name>
		<url-pattern>/Olvido</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>bnHomeWAP.jsp</servlet-name>
		<url-pattern>/bnHomeWAP.jsp</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>bnConsulta.jsp</servlet-name>
		<url-pattern>/bnConsulta.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletConsultaSaldo</servlet-name>
		<url-pattern>/ServletConsultaSaldo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletTipoCambio</servlet-name>
		<url-pattern>/ServletTipoCambio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCuentaAhorros</servlet-name>
		<url-pattern>/ServletCuentaAhorros</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCuentaCorriente</servlet-name>
		<url-pattern>/ServletCuentaCorriente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletPrestamoMultired</servlet-name>
		<url-pattern>/ServletPrestamoMultired</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCCIAhorros</servlet-name>
		<url-pattern>/ServletCCIAhorros</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCCICorriente</servlet-name>
		<url-pattern>/ServletCCICorriente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnCtaAhorro.jsp</servlet-name>
		<url-pattern>/bnCtaAhorro.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnCtaCte.jsp</servlet-name>
		<url-pattern>/bnCtaCte.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnPresMul.jsp</servlet-name>
		<url-pattern>/bnPresMul.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnCCIAhorrosMN.jsp</servlet-name>
		<url-pattern>/bnCCIAhorrosMN.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnCCICtaCteMN.jsp</servlet-name>
		<url-pattern>/bnCCICtaCteMN.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnCuentaCte.jsp</servlet-name>
		<url-pattern>/bnCuentaCte.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnRespuestaMultired.jsp</servlet-name>
		<url-pattern>/bnRespuestaMultired.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnRespuestaTipoCambio.jsp</servlet-name>
		<url-pattern>/bnRespuestaTipoCambio.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnRespuestaCCIAhorros.jsp</servlet-name>
		<url-pattern>/bnRespuestaCCIAhorros.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnListaCuentas.jsp</servlet-name>
		<url-pattern>/bnListaCuentas.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnRespuestaCuentaCorriente.jsp</servlet-name>
		<url-pattern>/bnRespuestaCuentaCorriente.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnError.jsp</servlet-name>
		<url-pattern>/bnError.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnRespuestaCCICorriente.jsp</servlet-name>
		<url-pattern>/bnRespuestaCCICorriente.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletLimitePrestamo</servlet-name>
		<url-pattern>/ServletLimitePrestamo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bnLimitePresPer.jsp</servlet-name>
		<url-pattern>/bnLimitePresPer.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaSaldoServlet</servlet-name>
		<url-pattern>/ConsultaSaldoServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	
		
<session-config>
		 <session-timeout>7</session-timeout> 
</session-config>

  
    
	
	<filter>
	  <filter-name>SessionTimeoutFilter</filter-name> 
	  <filter-class>pe.bn.listener.sessionTimeoutFilter</filter-class> 
    </filter>
	<filter-mapping>
	  <filter-name>SessionTimeoutFilter</filter-name> 
	  <url-pattern>*.do</url-pattern> 
	</filter-mapping>
    <filter>
	<filter-name>SqlInjectionAndXSSFilter</filter-name> 
	  <filter-class>pe.bn.listener.SqlInjectionAndXSSFilter</filter-class> 
    </filter>
	<filter-mapping>
	  <filter-name>SqlInjectionAndXSSFilter</filter-name> 
	</filter-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/mensaje404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/mensaje500.jsp</location>
	</error-page>
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
		</taglib>

		<taglib>
    		<taglib-uri>/WEB-INF/c.tld</taglib-uri>
    		<taglib-location>/WEB-INF/c.tld</taglib-location>
  		</taglib>
		
		  <taglib>
    		<taglib-uri>/WEB-INF/fmt.tld</taglib-uri>
    		<taglib-location>/WEB-INF/fmt.tld</taglib-location>
		  </taglib>

	</jsp-config>
    <service-ref>
        <description>WSDL Service WSDatosCuenta</description>
        <service-ref-name>service/WSDatosCuenta</service-ref-name>
        <service-interface>_11._11._7._10.WSDatosCuenta</service-interface>
        <wsdl-file>WEB-INF/wsdl/WSDatosCuenta.asmx.wsdl</wsdl-file>
        <jaxrpc-mapping-file>WEB-INF/WSDatosCuenta.asmx_mapping.xml</jaxrpc-mapping-file>
        <service-qname xmlns:pfx="http://10.7.11.11/WSDesaDatosCuenta/WSDatosCuenta">pfx:WSDatosCuenta</service-qname>
        <port-component-ref>
            <service-endpoint-interface>_11._11._7._10.WSDatosCuentaSoap</service-endpoint-interface>
        </port-component-ref>
    </service-ref>
    <service-ref>
        <description>WSDL Service WSCertiPINBLOCK</description>
        <service-ref-name>service/WSCertiPINBLOCK</service-ref-name>
        <service-interface>_11._106._7._10.WSCertiPINBLOCK</service-interface>
        <wsdl-file>WEB-INF/wsdl/WSCertiPINBLOCK.asmx.wsdl</wsdl-file>
        <jaxrpc-mapping-file>WEB-INF/WSCertiPINBLOCK.asmx_mapping.xml</jaxrpc-mapping-file>
        <service-qname xmlns:pfx="http://10.7.106.11/WSCertiPINBLOCK/WSCertiPINBLOCK">pfx:WSCertiPINBLOCK</service-qname>
        <port-component-ref>
            <service-endpoint-interface>_11._106._7._10.WSCertiPINBLOCKSoap</service-endpoint-interface>
        </port-component-ref>
    </service-ref>
    <service-ref>
        <description>WSDL Service WSPRDDatosCuenta</description>
        <service-ref-name>service/WSPRDDatosCuenta</service-ref-name>
        <service-interface>_211._50._1._10.WSPRDDatosCuenta</service-interface>
        <wsdl-file>WEB-INF/wsdl/WSPRDDatoscuenta.asmx.wsdl</wsdl-file>
        <jaxrpc-mapping-file>WEB-INF/WSPRDDatoscuenta.asmx_mapping.xml</jaxrpc-mapping-file>
        <service-qname xmlns:pfx="http://10.1.50.211/WSPRDDatosCuenta/WSPRDDatosCuenta">pfx:WSPRDDatosCuenta</service-qname>
        <port-component-ref>
            <service-endpoint-interface>_211._50._1._10.WSPRDDatosCuentaSoap</service-endpoint-interface>
        </port-component-ref>
    </service-ref>


    <service-ref>
    	<description>
    	WSDL Service ParametroInterfazService</description>
    	<service-ref-name>service/ParametroInterfazService</service-ref-name>
    	<service-interface>pe.com.bn.comp.ws.service.ParametroInterfazService</service-interface>
    	<wsdl-file>WEB-INF/wsdl/ParametroInterfaz.wsdl</wsdl-file>
    	<jaxrpc-mapping-file>WEB-INF/ParametroInterfaz_mapping.xml</jaxrpc-mapping-file>
    	<service-qname xmlns:pfx="http://service.ws.comp.bn.com.pe">
    	pfx:ParametroInterfazService</service-qname>
    	<port-component-ref>
    		<service-endpoint-interface>pe.com.bn.comp.ws.service.ParametroInterfaz</service-endpoint-interface>
    	</port-component-ref>
    </service-ref>
    <service-ref>
    	<description>
    	WSDL Service ServicioBNSmsService</description>
    	<service-ref-name>service/ServicioBNSmsService</service-ref-name>
    	<service-interface>pe.com.bn.wscn.ws.ServicioBNSmsService</service-interface>
    	<wsdl-file>WEB-INF/wsdl/ServicioBNSms.wsdl</wsdl-file>
    	<jaxrpc-mapping-file>WEB-INF/ServicioBNSms_mapping.xml</jaxrpc-mapping-file>
    	<service-qname xmlns:pfx="http://ws.wscn.bn.com.pe">
    	pfx:ServicioBNSmsService</service-qname>
    	<port-component-ref>
    		<service-endpoint-interface>pe.com.bn.wscn.ws.ServicioBNSms</service-endpoint-interface>
    	</port-component-ref>
    </service-ref>
    <service-ref>
    	<description>
    	WSDL Service ServicioBNInteroperabilidadService</description>
    	<service-ref-name>service/ServicioBNInteroperabilidadService</service-ref-name>
    	<service-interface>pe.com.bn.wscn.ws.ServicioBNInteroperabilidadService</service-interface>
    	<wsdl-file>WEB-INF/wsdl/ServicioBNInteroperabilidad.wsdl</wsdl-file>
    	<jaxrpc-mapping-file>WEB-INF/ServicioBNInteroperabilidad_mapping.xml</jaxrpc-mapping-file>
    	<service-qname xmlns:pfx="http://ws.wscn.bn.com.pe">
    	pfx:ServicioBNInteroperabilidadService</service-qname>
    	<port-component-ref>
    		<service-endpoint-interface>pe.com.bn.wscn.ws.ServicioBNInteroperabilidad</service-endpoint-interface>
    	</port-component-ref>
    </service-ref>
   
</web-app>
