.title {font-family:verdana;font-size:12pt;font-weight:bold;}
.defButton {font-family:sans-serif;font-size:10pt;font-weight:bold;width:120px;}
.largeButton {font-family:sans-serif;font-size:10pt;font-weight:bold;width:200px;}
.marco1 {border: medium double rgb(0,0,255);}
.defError {font-family:sans-serif;font-size:10pt;font-weight:bold; color:yellow; background-color: #cc0000;}
TD {font-family:sans-serif;font-size:10pt;font-weight:bold;}
BODY {font-family:sans-serif;font-size:10pt;font-weight:bold;}
