/*
Project Name: Banco de la Nacion Multired
Author: the Medialab team
Author URI: http://www.medialabla.com/
Description: Main CSS for Banco de la Naci&oacute;n
Version: 1.0
Tags: Banco de la Naci&oacute;n, Banco, Banco Peru, Banco Lima, Per&uacute;, per&uacute;, banco provincias...
*/

/* =Global
----------------------------------------------- */

#bn-contenidos #contenidos-informativos h2{
	color: #c51416;
	font: 18px 'daxcompact-regularregular';
	text-align: center;
	text-transform: uppercase;
	padding: 0px 0px 18px 0px;
}

#bn-contenidos #contenidos-informativos h3{
	color: #555555;
	font: 13px arial;
	text-align: center;
	padding: 0px 0px 32px 0px;
}

#bn-contenidos #contenidos-informativos p{
	color: #555555;
	font: 11px/13px arial;
	text-align: justify;
	padding: 20px 0px 20px 0px;
}

#bn-contenidos #contenidos-informativos li{
	background: url(../imagenes/bull.jpg) no-repeat 0px 4px;
	color: #555555;
	font: 11px/13px arial;
	text-align: justify;
	padding: 0px 0px 8px 10px;
	width: 528px; 
}

#consulta-saldo table tr td{
	background:#e3e3e3;
color: #000;
height: 30px;
font: 12px/30px arial;
margin: 0px 1px 1px 0px;
padding: 0px 0px 0px 13px;
width: 287px;
border:1px solid #fff;
}

#consulta-saldo table tr td:first-child{
	background:#d1d1d1 !important;
}

#bn-contenidos #contenidos-informativos #consulta-saldo{
	border-bottom: 1px dashed #b8b8b8;
	padding: 0px 0px 15px 0px;
}

#bn-contenidos #contenidos-informativos .titulo-constancia{
	background: #484848;
	color: #fff;
	height: 30px;
	font: 14px/30px 'daxcompact-mediumregular';
	margin: 0px 0px 1px 0px;
	text-transform: uppercase;
	text-align: center;
	width: 601px;
}

#bn-contenidos #contenidos-informativos .fila-izquierda{
	background: #d1d1d1;
	color: #000;
	height: 30px;
	float: left;
	font: 12px/30px arial;
	margin: 0px 1px 1px 0px;
	padding: 0px 0px 0px 13px;
	width: 287px;
}

#bn-contenidos #contenidos-informativos .texto-derecha{
	text-align: right;
}

#bn-contenidos #contenidos-informativos .fila-derecha{
	background: #e3e3e3;
	color: #000;
	height: 30px;
	float: left;
	font: 12px/30px arial;
	margin: 0px 1px 1px 0px;
	padding: 0px 13px 0px 13px;
	width: 274px;
}

#bn-contenidos #contenidos-informativos #botones{
	padding: 32px 0px 0px 120px;
}

#bn-contenidos #contenidos-informativos #botones #regresar{
	background: url(../imagenes/btn-regresar.jpg) no-repeat;
	color: #fff;
	display: block;
	height: 24px;
	float: left;
	font: 14px/24px 'daxcompact-boldregular';
	margin: 0px 30px 0px 0px;
	padding: 0px 0px 0px 34px;
	text-transform: uppercase;
	width: 76px;
}

#bn-contenidos #contenidos-informativos #botones #imprimir{
	background: url(../imagenes/btn-imprimir.jpg) no-repeat;
	color: #fff;
	display: block;
	height: 24px;
	float: left;
	font: 14px/24px 'daxcompact-boldregular';
	margin: 0px 30px 0px 0px;
	padding: 0px 0px 0px 34px;
	text-transform: uppercase;
	width: 66px;
}

#bn-contenidos #contenidos-informativos #botones #enviar{
	background: url(../imagenes/btn-enviar.jpg) no-repeat;
	color: #fff;
	display: block;
	height: 24px;
	float: left;
	font: 14px/24px 'daxcompact-boldregular';
	margin: 0px 30px 0px 0px;
	padding: 0px 0px 0px 44px;
	text-transform: uppercase;
	width: 56px;
}

#bn-contenidos #contenidos-informativos #botones #descargar{
	background: url(../imagenes/btn-descargar.jpg) no-repeat;
	color: #fff;
	display: block;
	height: 24px;
	float: left;
	font: 14px/24px 'daxcompact-boldregular';
	padding: 0px 0px 0px 28px;
	text-transform: uppercase;
	width: 72px;
}




