/*
Project Name: Banco de la Nacion Multired
Author: the Medialab team
Author URI: http://www.medialabla.com/
Description: Main CSS for Banco de la Naci&oacute;n
Version: 1.0
Tags: Banco de la Naci&oacute;n, Banco, Banco Peru, Banco Lima, Per&uacute;, per&uacute;, banco provincias...
*/

/* =Global
----------------------------------------------- */


#cuerpo h1{
    font: 24px 'daxcompact-mediumregular';
}

#login{

}

#login #border-superior{

}

#login #border-inferior{
    
}

#login #login-contenido{
    background: url(../imagenes/home/border-derecha.png) repeat-y right top #fff;
    border-left: 1px solid #FFFFFF;
    color: #555555;
    font: 12px arial;
    margin: 0 auto;
    position: relative;
    padding: 18px 54px 10px 43px; /* 18 54 10 52 */
    overflow: hidden;
    text-align: left;
    width: 536px;
}

#login #login-contenido #border-inferior{
    border-bottom: 1px dashed #B8B8B8;
    bottom: 55px;
    height: 1px;
    position: absolute;
    left: 0px;
    width: 99%;
}

#login #login-contenido #border-inferior1{
    
    bottom: 55px;
    height: 1px;
    position: absolute;
    left: 0px;
    width: 99%;
}

#login #login-contenido p{
    text-align: justify;
}

#login #login-contenido #comunicate{
    bottom: 0;
    color: #555555;
    font: 11px arial;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

#login #login-contenido form{
    padding: 0px 0px 0px 60px;
    position: relative;
}

#login #login-contenido form input[type="button"]{
    background: url(../imagenes/home/btn-submit.jpg) no-repeat;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 30px;
    font: bold 14px arial;
    margin: 38px 0 0 160px;
    text-align: center;
    width: 100px;
}

#login #login-contenido form input[type="button2"]{
    background: url(../imagenes/home/btn-submit.jpg) no-repeat;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 20px;
    font: bold 10px arial;
    margin: 10px 50px 10px 50px;	
    text-align: center;
    width: 100px;
    border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#login #login-contenido form .fila{
    margin: 0px 0px 15px 0px; /* 26 */
}

#login #login-contenido form label{
    color: #4f4f4f;
    font: 13px/23px arial;
    float: left;
    text-align: right;
    padding: 0px 4px 0px 0px;
    width: 130px;
}

#login #login-contenido form .tipo-documento{
    background: url(../imagenes/home/bg-select.jpg) no-repeat;
    height: 23px !important;
    float: left;
    width: 250px !important;
}

#login #login-contenido form .tipo-documento-2{
    background: url(../imagenes/home/bg-select-2.jpg) no-repeat;
    height: 23px !important;
    float: left;
    width: 200px !important;
}

#login #login-contenido form .select-chico4{
	background: url(../imagenes/bn/select-chico2.jpg) no-repeat;
	color: #4f4f4f;/* 7b7b7b */
	float: left;
	height: 23px;
	padding: 5px 0px 0px 10px;
	margin: 0px 5px 0px 0px;
	width: 155px !important; /*70*/
}

#login #login-contenido form .select-medio{
	background: url(../imagenes/bn/select-chico4.jpg) no-repeat;
	color: #4f4f4f;/* 7b7b7b */
	float: left;
	height: 20px;
	padding: 5px 0px 0px 10px;
	margin: 0px 10px 0px 0px;
	width: 115px !important; /*80*/
}


#login #login-contenido form .input-chico3 {
    background: url("../imagenes/bn/input-small3.jpg") no-repeat scroll 0% 0% transparent;
    border: medium none;
    font: 12px/23px arial;
    height: 23px;
    float: left;
    padding: 0px 10px;
    width: 128px;
    color: #4f4f4f;/* 7b7b7b */
}


#login #login-contenido form .input-chico2 {
    background: url("../imagenes/bn/bg-input-xsmall.jpg") no-repeat scroll 0% 0% transparent;
    border: medium none;
    font: 12px/23px arial;
    height: 23px;
    color: #4f4f4f;/* 7b7b7b */
    float: left;
    padding: 0px 10px;
    width: 40px;
}

#login #login-contenido form .textarea{
	border: 1px solid #ececec;
	font: 11px/13px arial;
	color: #4f4f4f;/* 7b7b7b */
	margin: 0px -30px;
}

#login #login-contenido form .tipo-documento span{
    color: #4f4f4f; /* 7b7b7b */
    font: 12px/23px arial !important;
    padding: 0px 0px 0px 12px;
}

#login #login-contenido form input.grande{
    background: url(../imagenes/home/bg-input.jpg) no-repeat;
    border: none;
    float: left;
    color: #4f4f4f; /* 7b7b7b */;
    font: 12px/23px arial;
    padding: 0px 12px 0px 12px;
    height: 23px;
    width: 226px;
}

#login #login-contenido form input.grande1{
    background: url(../imagenes/home/bg-input-1.jpg) no-repeat;
    border: none;
    float: left;
    color: #4f4f4f; /* 7b7b7b */;
    font: 12px/23px arial;
    padding: 0px 12px 0px 12px;
    height: 23px;
    width: 245px;
}

#login #login-contenido #botones-clave{
    float: left;
    padding: 0px 0px 0px 6px;
    width: 92px;
}

#login #login-contenido #botones-clave div{
    background: url(../imagenes/home/btn-boton.jpg) no-repeat;
    color: #343434;
    display: block;
    font: 16px/25px 'daxcompact-boldregular';
    height: 25px;
    float: left;
    margin: 0px 5px 5px 0px;
    text-align: center;
    width: 25px;
    cursor:pointer;
}

#login #login-contenido #botones-clave div:hover{
    background: url(../imagenes/home/btn-boton-active.jpg) no-repeat;
    color: #fff;
}

#login #login-contenido #botones-clave div.limpiar{
    background: url(../imagenes/home/btn-limpiar.jpg) no-repeat;
    color: #fff;
    font: 12px/25px 'daxcompact-boldregular';
    width: 55px;
}

#login #login-contenido #campo-clave{
    float: left;
    padding: 0px 0px 0px 25px;
    width: 120px;
}

#login #login-contenido #campo-clave p{
    color: #4f4f4f; /* 7b7b7b */;
    font: 11px/13px arial;
    text-align: center;
    padding: 0px 0px 10px;
}

#login #login-contenido #campo-clave p1{
    color: #4f4f4f; /* 7b7b7b */;
    font: 12px/13px arial;
    text-align: center;
    padding: 0px 5px 10px;
}

#login #login-contenido #campo-clave1{
    float: left;
    padding: 0px 0px 0px 40px;
    width: 250px;
}

#login #login-contenido #campo-clave1 p{
    color: #4f4f4f; /* 7b7b7b */;
    font: 12px/13px arial;
    text-align: center;
    padding: 0px 5px 10px;
     
}



#login #login-contenido #campo-clave input{
    background: url(../imagenes/home/bg-input-small.jpg) no-repeat;
    border: none;
    height: 23px;
    padding: 0px 20px;
    width: 70px;
    color:#4f4f4f; /* 7b7b7b */;
}

#login #login-contenido #campo-clave .olvido-clave {
    padding: 20px 0px 0px 0px;
    position: relative;
}

#login #login-contenido #campo-clave div.olvide-clave{
    background: url(../imagenes/home/olvide-clave.jpg) no-repeat;
    color: #ba1113;
    display: block;
    font: 12px arial;
    height: 24px;
    font: 12px/24px arial;
    text-align: left;
    text-decoration: underline;
    padding: 0px 0px 0px 27px;
    cursor:pointer;
}

#login #login-contenido #campo-clave div.clave-internet{
   
    color: #2b2b2b;
    display: block;
    font: 12px arial;
    height: 24px;
    font: 12px/24px arial;
    text-decoration: underline;
    padding: 0px 0px 0px 20px;
    cursor:pointer;
    width: 200px;
}

#login #login-contenido #campo-clave .texto-olvide-clave{
    display: none;
    position: absolute;
    right: -100px;
    top: 2px;
}

#login #login-contenido #campo-clave .olvido-clave:hover .texto-olvide-clave{
    display: block;
}

#login #login-contenido #campo-clave .texto-olvide-clave img{
    position: absolute;
    top: 23px;
    left: -15px;
}

#login #login-contenido .fila-derecha{
	background: #e3e3e3;
	color: #000;
	height: 30px;
	float: left;
	font: 12px/30px arial;
	margin: 0px 1px 1px 0px;
	padding: 0px 13px 0px 13px;
	width: 274px;
}

#login #login-contenido #campo-clave .texto-olvide-clave div{
    background: #000;
    color: #d5d5d5;
    height: auto;
    text-align: center;
    font: 11px/12px arial;
    padding: 5px 0px;
    width: 120px;
}


#login #login-contenido .capcha{
    float: left;
    padding: 0px 18px 0px 6px;
}

#login #login-contenido .capcha #srcCaptcha{
    padding: 0px 0px 8px 0px;
}

#login #login-contenido .capcha .boton_captcha{
    background: url(../imagenes/home/cambiar-capcha.jpg) no-repeat;
    color: #ba1113;
    display: block;
    font: 12px arial;
    text-decoration: underline;
    padding: 3px 0px 2px 22px;
    cursor:pointer;
}

#login #login-contenido input.capcha{
    background: url(../imagenes/home/bg-input-small.jpg) no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #4f4f4f; /* 7b7b7b */;
    float: left;
    font: 12px/23px arial;
    height: 23px;
    padding: 0 25px;
    width: 70px;
    text-transform: uppercase;
}

input.mayuscula{
    text-transform: uppercase;
}

ul.tipo-documento{
    width: 217px !important;
}
div.cysErrorMsg {
	background-color: #FFD5D5;
    border: 1px solid #FF3C3C;
    color: #4F4F4F;
    font-size: 12px;
    list-style: none outside none;
    margin: 0 auto;
    padding: 4px;
    width: 630px;
    font-family:'Arial';
}

.formEstandar{
	width:100%;
	
}
.formEstandar .izq{
	float:left;
	width:250px !important;
	text-align: left;
	
}
.formEstandar .der{
	float:right;
	width:250px;
	padding-left:1px;	
}

.limpiar:after { content: "."; display: block; height: 0; font-size:0; clear: both; visibility:hidden; }
.limpiar{ display: inline-block;}
* html .limpiar { height: 1%; }
.limpiar{display:block;} 







