/* CSS Document */
body { background:#F8F8F8; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:1em;}
.main {width:auto; font-size:0.8em; font-family:Arial, Helvetica, sans-serif;border:1px #666666 solid;}
.encab {height:84px; background:url(../Images/fondo_cab.jpg) right top no-repeat;}
#margene { background-color:#FFFFFF;}
#marlogo { height:60px; margin:8px 0 0 0; padding:0;}
.logop  {margin:10px 10px 0 0; float:right; clear:both;}
#titulo { font-size:1.1em; color:#FFFFFF; padding:2px 10px; margin:10px 0 6px 0; float:left;}
#titulodet { font-size:1.1em; color:#000000; padding:2px 10px; margin:10px 0 6px 0;}
#cuerpo { height:250px;}
#concen { height:245px; width:500px; background:#F3F3F3 url(../Images/img_der.gif) no-repeat right; margin:0 auto; padding:0 0 0 10px;border:1px solid #ccc;}
#concenSin { height:260px; width:500px; background:#F3F3F3 no-repeat right; margin:0 auto; padding:0 0 0 10px;border:1px solid #ccc;}
#concenmsg { height:50px; width:500px; background:#FFFFFF no-repeat right; margin:0 auto; padding:0 0 0 10px;border:1px solid #ccc;}
h1 { font-size:1em; margin:0;}
a {color:#000; text-decoration:none;}
#concen { font-size:0.75em;}
h2 { font-size:0.8em; color:#000; padding:2px 10px; margin:15px 300px 0 0;}
ul {margin:0;}
span { font-size:1em; color:#FF0000;}
.vis { margin:10px 0 0 150px}
li {font-size:0.65em; margin:10px 0 0 0; text-indent:10px;}
li a {margin:0;}
.cv a {color: #000000; margin:0 10px 0 130px; padding:0 15px; background:url(../Images/v1.gif) no-repeat left; text-indent:15px; float:right;}
.pien { float:left;margin:0 0 0 10px;}
#pie { background-color:#CCCCCC; color:#000000;font-size:0.8em; padding:3px 0; margin:3px 0 0 0; float:left;}
#pie p { margin:0; padding:0;}
.clav { margin:0 0 0 13px}
.inp{ margin:5px 0 0 0; padding:3px 0;}
.camp{ margin:8px 0 0 0;}
.camp2{ margin:8px 0 0 22px;}
.camp3{ margin:8px 0 0 23px;}
.txt {color:#000000; font-size:1.0em; margin:8px 0 0 0; padding:0; width:180px;}
.txt2 {color:#FF0000; font-size:0.8em; margin:0 auto; padding:0 0 0 10px; 500px;}
.txtb3 {color:#000000; font-size:0.8em; margin:0 auto; padding:0 0 0 10px; 500px;}